.main-block {
    width: 100%;
    position: absolute;
    top: 107px;
    color: #fff;
}

@media screen and (max-width: 940px) {
    .main-block {
        top: 227px;
    }
}

@media screen and (max-width: 380px) {
    .main-block {
        top: 392px;
    }
}
