.flex-wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.link {
    text-decoration: none;
    transition: 0.3s color ease;
}

a.link:hover {
    color: #f00;
}
