.vscode/
server/dist/
server/node_modules/
server/test.sql
server/src/config/
client/node_modules/
# graphql-codegen generates files to __generated__ to ensure type safety while using GraphQL on the client side
client/src/__generated__
client/dist
redis/redis.conf
aws/lambda-functions/**/node_modules
aws/lambda-functions/**/dist
pg-admin/dev.env
postgres/dev.env
opensearch/dev.env
server-nest/node_modules/
server-nest/dist/
server-nest/**/*.env
server-nest/ormconfig.js
server-nest/ormconfig.ts
server-nest/src/graphql-types.ts
aws/cloudformation/parameters.cfn
