.edit-product-form {
    color: #000;
}

.edit-product-form__heading {
    margin-top: 0px;
    text-align: center;
}

.edit-product-form__submit-button {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
