.success-block {
    min-width: 300px;
    color: black;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .success-block {
        min-width: 200px;
    }
}

@media screen and (max-width: 300px) {
    .success-block {
        min-width: 150px;
    }
}
