.top-header {
    width: 100%;
    padding: 15px 0;
    border-bottom: 3px solid white;
    position: fixed;
    top: 0;
    background: #273c99;
    transition: 0.5s background ease;
    z-index: 999;
    display: flex;
    align-items: center;
}

.top-header.darkened {
    background: #14256f;
}

.top-header__layout {
    display: flex;
    justify-content: space-between;
}

.top-header-layout__logo {
    margin-right: 30px;
}

@media screen and (max-width: 940px) {
    .top-header__layout {
        flex-wrap: wrap;
    }
    
    .top-header__layout .top-header-layout__navigation,
    .top-header__layout > *:nth-child(4) {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    .top-header-layout__navigation {
        margin-bottom: 30px !important;
    }
}
