.order-item__summary-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.order-item__total-price,
.order-item__identifier {
    font-weight: bold;
}

.order-item__summary-text span {
    display: block;
}

.order-item__delivery-data {
    width: 45%;
}

.order-item__status-history {
    width: 55%;
}

.order-status-history__heading,
.delivery-data__term:first-of-type {
    margin-top: 20px;
}

.order-status-history__heading,
.delivery-data__term {
    font-size: 1.1rem;
}

.order-item__status-history {
    margin-right: 20px;
}

.delivery-data__term-list {
    margin: 0;
    text-align: right;
}

.delivery-data__term {
    font-weight: bold;
}

.delivery-data__term:not(:first-of-type) {
    margin-top: 10px;
}

.delivery-data__definition {
    margin: 0;
}

@media screen and (max-width: 650px) {
    .order-item__details {
        display: none;
        flex-wrap: wrap;
    }

    .order-item__status-history,
    .order-item__delivery-data {
        width: 100%;
    }

    .order-item__status-history {
        margin-bottom: 10px;
    }

    .delivery-data__term-list {
        text-align: left;
    }
}

@media screen and (max-width: 450px) {
    div.order-item__expand-arrow-block {
        margin-left: 0;
    }

    div.order-item__summary {
        flex-direction: column;
        height: auto;
    }

    .order-item__summary-text {
        text-align: center;
    }

    div.order-item__preview-img-block {
        margin-right: 0;
        height: 100px;
    }

    .order-item__preview-img-block,
    .order-item__summary-text > span {
        margin-bottom: 10px; 
    }
}
