.product-item__cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.product-item__cart-btn {
    width: fit-content;
}

.cart-btn__icon {
    width: 30px;
    height: 30px;
}

.product-item__cart-btn.text-offset .cart-btn__icon {
    margin-right: 5px;
}
