.error-notification {
    max-width: 40%;
    position: absolute;
    top: 50px;
    border-radius: 0 15px 0 0;
    background: white;
    text-align: center;
    cursor: pointer;
}

.error-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.error__icon {
    width: 20px;
    margin-right: 10px;
}

.error__flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.error__progress-bar {
    width: 100%;
    height: 5px;
}

.progress-bar__inner {
    height: 100%;
    background: red;
    animation: fill-progress-bar 5s linear;
}

@keyframes fill-progress-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes fill-progress-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}
