@media screen and (max-width: 400px) {
    .order-subnavigation-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .order-subnavigation-items .order-subnavigation-items__link:not(:last-child) {
        margin-right: 0;
    }
}
