.forgot-password-block {
    max-width: 500px;
    background: white;
    margin: 20px;
}

.forgot-password__heading {
    font-size: 1.7rem;
    margin-top: 0;
    text-align: center;
}

.forgot-password__submit-button_centered {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}
