.button {
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s background-color ease;
}

.button.default-color-theme {
    background: #5262a7;
}

.button.default-color-theme:hover {
    background: #707db4;
}

.button.second-color-theme {
    background: #405ee1;
}

.button.second-color-theme:hover {
    background: #617ae8;
}

.button.default-color-theme:disabled,
.button.second-color-theme:disabled {
    background: #ccc;
    cursor: not-allowed;
}
