.product-cart-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 280px) {
    .product-cart-actions {
        flex-direction: column;
        align-items: center;
    }
}
